{% extends 'base/index.html' %} {% load static %} {% block content %}

    <section id="page-header" class="about-header">
      <h2>#let's_talk</h2>
      <p>LEAVE A MESSAGE, We love to hear from you!</p>
    </section>

    <section id="cart" class="section-p1">
      <table width="100%">
        <thead>
          <tr>
            <td>Image</td>
            <td>Product</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Subtotal</td>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr>
            <td><img src="{{product.imageURL}}" alt="" /></td>
            <td>{{item.product.name}}</td>
            <td>${{item.product.price|floatformat:2}}</td>
            <td>
              <div style="flex:1">
                <p>{{item.quantity}}</p>
                <div>
                  <img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">
                  <img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
                </div>
              </div>
            </td>
            <td>${{item.get_total|floatformat:2}}</td>
          </tr>
          {% endfor %}
          <tr>
        </tbody>
      </table>
    </section>

    <section id="cart-add" class="section-p1">
      <div id="subtotal">
        <h3>Cart Totals</h3>
        <table>
          <tr>
            <td>Cart Total Items</td>
            <td>{{order.get_cart_items}}</td>
          </tr>
          <tr>
            <td>Cart SubTotal</td>
            <td>${{order.get_cart_total|floatformat:2}}</td>
          </tr>
          <tr>
            <td>Shipping</td>
            <td>Free</td>
          </tr>
          <tr>
            <td><strong>Total</strong></td>
            <td><strong>${{order.get_cart_total|floatformat:2}}</strong></td>
          </tr>
        </table>
        <button class="normal">Proceed to checkout</button>
      </div>
    </section>
{% endblock content %}
